@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswold", sans-serif;
    scrollbar-width: none;
}
body{
    opacity: 1;
    overflow: unset;
    transition: all .3s ease;
    background-image:url(img/majestic-mountain-peak-tranquil-winter-landscape-generated-by-ai.jpg);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top ;
}
header{
    display: flex;
    justify-content: space-between;
    padding-inline: 100px;
    padding-block: 20px;
    background-color: transparent;
    backdrop-filter: blur(20px);
}

h1{
    
    font-weight: bolder;
    color: white;
}
.menu a {
    text-decoration: none;
    font-size: 1.5em;
    padding-left: 30px;
    color: white;
}
.what{
    text-decoration: none;
    background-image: linear-gradient(to left , rgb(0, 255, 42) , blue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}







.titt{
    font-size: 35pt;
}
h2{
    
    color: white;
    position: relative;
    top: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 28pt;
}

.hot-menu{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
video{
    width: 300px;
    height: 500px;
}
img{
    width: 300px;
    height: 175px;
}

.containers{
    cursor: pointer;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    justify-content: space-around;
    background-color: rgba(29, 223, 248, 0.61);
    color: rgb(52, 211, 216);
    font-size: 30pt;
    transition: 0.5s;
}
.containers a {
    text-decoration: none;
    background-color: transparent;
}
.containers:hover{
    transform:scale(1.1);
}
.containers h2 {
    color: white;
}
.Tempo{
    font-size: 12pt;
}
.containers div {
    border-radius: 10px;
    background-color: white;
    height: 80px;
    width:80px ;
}
span{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    
}

main{
    width: 100%;
}




.menu-sobre{
    padding-inline: 15em;
    font-size: 18pt;
    
}
h3{
    margin-top: 150px;
    text-align: center;
    font-size: 5em;
    background-image: linear-gradient(to top , red , blue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}
.sobre{
    color: white;
}
i{
    background-image: linear-gradient(to left , rgb(43, 255, 0) , rgb(255, 0, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}
p{
    font-weight:bolder;
}




footer{
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 200px;
}
.copy{
    color: white;
}

.menu-bar{
    display: none;
    
}
.open{
    display: block;
    flex-direction: column;
    margin-left: 200px;
    gap: 10px;
    margin-top: 10px;
    justify-content: start;
    align-items: start;
    text-align: center;
}

.nav-menu{
    list-style:none ;
}
.icon{
    width: 40px;
    height: 30px;
}
path{
    fill: rgb(0, 38, 255);
    
}
.inst{
    
    fill: rgb(239, 69, 255);
    
}
